In [1]:
import pandas as pd

In [2]:
BASE_PATH = 'mainapp/microservice_supplier'
attributes_path = f"{BASE_PATH}/files/bigbuy/feeds/attibutes.json"
attributegroups_path = f"{BASE_PATH}/files/bigbuy/feeds/attributegroups.json"
variations_path = f"{BASE_PATH}/files/bigbuy/feeds/variations.json"
products_path = '/Users/peter/PycharmProjects/full_bol/mainapp/microservice_supplier/files/bigbuy/feeds/products/products_01_1661587714.json'

In [4]:
df = pd.read_json(products_path)

In [5]:
df.columns

Index(['manufacturer', 'id', 'sku', 'ean13', 'weight', 'height', 'width',
       'depth', 'dateUpd', 'category', 'dateUpdDescription', 'dateUpdImages',
       'dateUpdStock', 'wholesalePrice', 'retailPrice', 'dateAdd', 'video',
       'active', 'attributes', 'categories', 'images', 'taxRate', 'taxId',
       'inShopsPrice', 'condition', 'logisticClass', 'tags',
       'dateUpdProperties', 'dateUpdCategories', 'priceLargeQuantities'],
      dtype='object')

In [6]:
df.describe()

,manufacturer,id,ean13,weight,height,width,depth,category,wholesalePrice,retailPrice,active,taxRate,taxId,inShopsPrice,dateUpdCategories
count,20000.000000,20000.000000,1.845900e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.0,20000.000000,20000.000000,20000.000000,0.0
mean,6743.138850,308745.089100,6.115991e+12,3.247348,23.400554,23.798239,22.577599,2768.460750,71.031315,78.640613,1.0,20.948300,1.004700,112.814009,NaN
std,5773.455454,95721.841445,3.057136e+12,9.753651,21.852218,23.098877,25.670310,280.029082,485.411642,521.793563,0.0,0.752367,0.068397,738.815245,NaN
min,1.000000,18975.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,2216.000000,0.040000,-28.490000,1.0,10.000000,1.000000,0.090000,NaN
25%,1770.000000,250860.000000,4.008790e+12,0.071000,10.000000,8.000000,6.000000,2536.000000,6.420000,7.980000,1.0,21.000000,1.000000,12.800000,NaN
50%,3478.000000,372996.000000,8.412688e+12,0.300000,16.700000,17.271500,12.000000,2709.000000,14.820000,17.765000,1.0,21.000000,1.000000,27.175000,NaN
75%,13493.000000,382387.250000,8.427542e+12,1.535250,31.000000,33.000000,31.000000,2996.000000,38.750000,45.230000,1.0,21.000000,1.000000,69.500000,NaN
max,15643.000000,387704.000000,9.999626e+12,178.800000,412.000000,250.000000,282.000000,3476.000000,53906.610000,57964.100000,1.0,21.000000,2.000000,82400.360000,NaN