In [71]:
import pandas as pd

In [72]:
df = pd.DataFrame()

In [73]:
for x in range(1,10):
    path = f'tmp_products{x}.json'
    tmp = pd.read_json(path)
    df = pd.concat([df,tmp])

In [85]:
df.head()

,manufacturer,id,sku,ean13,weight,height,width,depth,dateUpd,category,...,images,taxRate,taxId,inShopsPrice,condition,logisticClass,tags,dateUpdProperties,dateUpdCategories,size
0,1,289786,S3520035,4.059779e+12,0.580,28.0,23.0,5.0,2022-05-26 15:27:23,2616,...,True,21,1,9.99,REFURBISHED_B,A,True,NaN,NaN,1
1,1,290600,S4254155,8.025358e+11,0.425,10.0,10.0,20.0,2022-07-19 05:30:23,2525,...,True,21,1,21.26,NEW,A,True,NaN,NaN,1
2,1,290603,S4254169,8.025359e+11,0.425,10.0,10.0,20.0,2022-07-15 05:30:26,2526,...,True,21,1,17.72,NEW,A,True,NaN,NaN,1
3,1,295372,S2407092,8.435408e+12,1.000,60.0,49.0,10.0,2022-07-21 09:36:17,3040,...,True,21,1,18.53,NEW,A,True,NaN,NaN,1
4,1,297793,S2413938,8.435435e+12,0.250,65.0,60.0,45.0,2022-07-18 11:50:14,2581,...,True,21,1,8.59,NEW,A,True,NaN,NaN,1

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90000 entries, 0 to 9999
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   manufacturer          90000 non-null  int64
 1   id                    90000 non-null  int64
 2   sku                   90000 non-null  object
 3   ean13                 84811 non-null  float64
 4   weight                90000 non-null  float64
 5   height                90000 non-null  float64
 6   width                 90000 non-null  float64
 7   depth                 90000 non-null  float64
 8   dateUpd               90000 non-null  object
 9   category              90000 non-null  int64
 10  dateUpdDescription    89951 non-null  object
 11  dateUpdImages         89948 non-null  object
 12  dateUpdStock          89971 non-null  object
 13  wholesalePrice        90000 non-null  float64
 14  retailPrice           90000 non-null  float64
 15  dateAdd               90000 non-null  object
 16  video                 90000 non-null  object
 17  active                90000 non-null  int64
 18  attributes            90000 non-null  bool
 19  categories            90000 non-null  bool
 20  images                90000 non-null  bool
 21  taxRate               90000 non-null  int64
 22  taxId                 90000 non-null  int64
 23  inShopsPrice          90000 non-null  float64
 24  condition             90000 non-null  object
 25  logisticClass         90000 non-null  object
 26  tags                  90000 non-null  bool
 27  dateUpdProperties     6127 non-null   object
 28  dateUpdCategories     0 non-null      float64
 29  priceLargeQuantities  68081 non-null  object
dtypes: bool(4), float64(9), int64(6), object(11)
memory usage: 18.9+ MB

In [75]:
df.drop(columns='priceLargeQuantities', inplace=True)

In [76]:
df.shape

(90000, 29)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90000 entries, 0 to 9999
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   manufacturer        90000 non-null  int64
 1   id                  90000 non-null  int64
 2   sku                 90000 non-null  object
 3   ean13               84811 non-null  float64
 4   weight              90000 non-null  float64
 5   height              90000 non-null  float64
 6   width               90000 non-null  float64
 7   depth               90000 non-null  float64
 8   dateUpd             90000 non-null  object
 9   category            90000 non-null  int64
 10  dateUpdDescription  89951 non-null  object
 11  dateUpdImages       89948 non-null  object
 12  dateUpdStock        89971 non-null  object
 13  wholesalePrice      90000 non-null  float64
 14  retailPrice         90000 non-null  float64
 15  dateAdd             90000 non-null  object
 16  video               90000 non-null  object
 17  active              90000 non-null  int64
 18  attributes          90000 non-null  bool
 19  categories          90000 non-null  bool
 20  images              90000 non-null  bool
 21  taxRate             90000 non-null  int64
 22  taxId               90000 non-null  int64
 23  inShopsPrice        90000 non-null  float64
 24  condition           90000 non-null  object
 25  logisticClass       90000 non-null  object
 26  tags                90000 non-null  bool
 27  dateUpdProperties   6127 non-null   object
 28  dateUpdCategories   0 non-null      float64
dtypes: bool(4), float64(9), int64(6), object(10)
memory usage: 18.2+ MB

In [78]:
df.describe()

,manufacturer,id,ean13,weight,height,width,depth,category,wholesalePrice,retailPrice,active,taxRate,taxId,inShopsPrice,dateUpdCategories
count,90000.000000,90000.000000,8.481100e+04,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.0,90000.000000,90000.000000,90000.000000,0.0
mean,6389.098256,288811.905056,5.746322e+12,2.777683,21.074678,22.470449,24.009015,2793.878611,60.925869,67.907977,1.0,20.930389,1.006333,97.898598,NaN
std,5525.547882,86472.688817,3.189355e+12,8.875964,20.417697,23.159250,26.460755,309.177686,285.786638,307.032795,0.0,0.872937,0.079470,408.360655,NaN
min,1.000000,1487.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.010000,1.0,4.000000,1.000000,0.010000,NaN
25%,1893.000000,247122.250000,3.614227e+12,0.100000,9.500000,7.890000,8.000000,2536.000000,6.020000,7.590000,1.0,21.000000,1.000000,12.400000,NaN
50%,3473.000000,322507.000000,8.007403e+12,0.320000,15.500000,15.000000,15.000000,2718.000000,14.250000,17.470000,1.0,21.000000,1.000000,27.390000,NaN
75%,13493.000000,352673.500000,8.424002e+12,1.430000,27.940000,30.000000,31.000000,2996.250000,35.070000,41.632500,1.0,21.000000,1.000000,67.307500,NaN
max,15572.000000,377538.000000,1.000000e+13,220.000000,1118.000000,439.000000,1267.000000,3477.000000,41305.100000,44414.090000,1.0,21.000000,3.000000,52251.870000,NaN

In [79]:
df.columns

Index(['manufacturer', 'id', 'sku', 'ean13', 'weight', 'height', 'width',
       'depth', 'dateUpd', 'category', 'dateUpdDescription', 'dateUpdImages',
       'dateUpdStock', 'wholesalePrice', 'retailPrice', 'dateAdd', 'video',
       'active', 'attributes', 'categories', 'images', 'taxRate', 'taxId',
       'inShopsPrice', 'condition', 'logisticClass', 'tags',
       'dateUpdProperties', 'dateUpdCategories'],
      dtype='object')

In [80]:
df.dtypes

manufacturer            int64
id                      int64
sku                    object
ean13                 float64
weight                float64
height                float64
width                 float64
depth                 float64
dateUpd                object
category                int64
dateUpdDescription     object
dateUpdImages          object
dateUpdStock           object
wholesalePrice        float64
retailPrice           float64
dateAdd                object
video                  object
active                  int64
attributes               bool
categories               bool
images                   bool
taxRate                 int64
taxId                   int64
inShopsPrice          float64
condition              object
logisticClass          object
tags                     bool
dateUpdProperties      object
dateUpdCategories     float64
dtype: object

In [81]:
df.isnull().sum()

manufacturer              0
id                        0
sku                       0
ean13                  5189
weight                    0
height                    0
width                     0
depth                     0
dateUpd                   0
category                  0
dateUpdDescription       49
dateUpdImages            52
dateUpdStock             29
wholesalePrice            0
retailPrice               0
dateAdd                   0
video                     0
active                    0
attributes                0
categories                0
images                    0
taxRate                   0
taxId                     0
inShopsPrice              0
condition                 0
logisticClass             0
tags                      0
dateUpdProperties     83873
dateUpdCategories     90000
dtype: int64

In [82]:
df = df.groupby(df.columns.tolist(), as_index=False, dropna=False).size()

In [83]:
df[df['size'] != 1]

,manufacturer,id,sku,ean13,weight,height,width,depth,dateUpd,category,...,images,taxRate,taxId,inShopsPrice,condition,logisticClass,tags,dateUpdProperties,dateUpdCategories,size
9518,1513,327851,S3530003,1.942522e+11,0.105,13.37,6.82,10.96,2022-04-18 14:20:28,2620,...,True,21,1,41.48,REFURBISHED_B,A,True,NaN,NaN,2
9519,1513,327856,S3530065,1.942522e+11,1.000,30.00,30.00,30.00,2022-03-21 16:07:56,2620,...,True,21,1,39.00,REFURBISHED_A,A,True,NaN,NaN,2
9520,1513,327862,S3530245,1.901993e+11,1.000,30.00,30.00,30.00,2022-03-20 11:13:34,2620,...,True,21,1,32.79,REFURBISHED_C,A,True,NaN,NaN,2
9521,1513,327864,S3530377,1.942521e+11,1.198,18.98,11.54,27.34,2022-03-10 17:21:44,2634,...,True,21,1,28.98,REFURBISHED_A_PLUS,A,True,NaN,NaN,2
13933,1551,354097,S6501600,8.712582e+12,0.486,7.50,11.00,23.00,2022-07-22 05:40:13,2927,...,True,21,1,27.97,NEW,A,True,NaN,NaN,2
18886,1799,327858,S3530134,4.549526e+12,0.297,10.18,9.93,10.05,2022-04-22 09:15:01,2995,...,True,21,1,36.15,REFURBISHED_B,A,True,NaN,NaN,2
18890,1799,328073,S3530388,4.971850e+12,1.000,30.00,30.00,30.00,2022-07-07 13:11:32,2995,...,True,21,1,28.49,REFURBISHED_C,A,True,NaN,NaN,2
21513,1889,354051,S6501913,4.210202e+12,0.288,5.50,11.60,14.00,2022-07-22 05:41:12,2544,...,True,21,1,28.95,NEW,A,True,NaN,NaN,2
21514,1889,354052,S6501961,4.210201e+12,0.740,19.50,7.00,26.00,2022-07-22 10:33:50,2544,...,True,21,1,155.93,NEW,A,True,NaN,NaN,2
26384,2241,354098,S6501607,4.013834e+12,0.218,12.30,3.40,7.20,2022-07-23 05:40:11,2928,...,True,21,1,13.67,NEW,A,True,NaN,NaN,2
27499,2304,284126,S55012905,6.934178e+12,0.600,6.00,39.00,49.00,2022-07-12 17:34:08,2800,...,True,21,1,31.39,NEW,A,True,NaN,NaN,2
28466,2404,304380,S4506109,3.614223e+12,0.279,12.57,7.18,8.57,2022-06-27 09:32:26,2510,...,True,21,1,77.38,NEW,A,True,NaN,NaN,2
36154,3201,326723,S3527714,4.899888e+12,0.105,13.37,6.82,10.96,2022-03-08 18:36:29,2620,...,True,21,1,11.23,REFURBISHED_A,A,True,NaN,NaN,2
36156,3201,326770,S3527710,7.386313e+11,0.200,13.75,13.97,21.51,2022-03-08 18:36:09,2938,...,True,21,1,11.88,REFURBISHED_D,A,True,NaN,NaN,2
36157,3201,326773,S3527713,4.899888e+12,0.105,13.37,6.82,10.96,2022-03-08 18:35:43,2620,...,True,21,1,11.33,REFURBISHED_B,A,True,NaN,NaN,2
36328,3206,354313,S1423872,NaN,0.000,30.50,15.00,20.00,2022-07-20 18:16:26,3172,...,True,21,1,17.73,NEW,A,False,NaN,NaN,2
42303,3228,326720,S3527712,9.430880e+10,0.200,10.00,10.00,5.00,2022-03-08 18:36:34,2848,...,True,21,1,11.33,REFURBISHED_A_PLUS,A,True,NaN,NaN,2
42306,3228,326777,S3527718,6.265745e+12,0.105,13.37,6.82,10.96,2022-03-08 18:36:15,2620,...,True,21,1,10.08,REFURBISHED_B,A,True,NaN,NaN,2
42694,3228,354100,S6501803,8.436034e+12,0.428,12.00,8.00,18.00,2022-07-22 05:40:16,2927,...,True,21,1,19.97,NEW,A,True,NaN,NaN,2
76716,14403,354129,S4259229,5.603928e+12,0.010,7.66,8.24,7.72,2022-07-23 05:30:11,2546,...,True,21,1,7.11,NEW,A,True,NaN,NaN,2
76719,14403,354132,S4259230,5.600463e+12,0.010,7.66,8.24,7.72,2022-07-23 05:30:11,2546,...,True,21,1,7.11,NEW,A,True,NaN,NaN,2
76721,14403,354134,S4259228,5.603928e+12,0.010,7.66,8.24,7.72,2022-07-23 05:30:11,2546,...,True,21,1,7.11,NEW,A,True,NaN,NaN,2

In [84]:
len(df[df['size'] != 1])

22